@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
@layer utilities {
  .privacytext {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #434a5b;
    text-align: justify;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}